<template>
    <require from="../navmenu/navmenu.html"></require>
    <require from="./app.css"></require>
    <div class="container-fluid">
        <button class="ui primary button">
            Save
        </button>
        <button class="ui button">
            Discard
        </button>
        <!--<div class="row ui header">
            <div class="col-sm-3">
                <navmenu router.bind="router"></navmenu>
            </div>
            <div class="col-sm-9 body-content">
                <router-view></router-view>
            </div>
        </div>-->
    </div>
</template>
